* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1 {
    color: rgb(0, 255, 64);
    text-align: center;
}
body {
    background-color: rgb(126, 116, 103);

}
.clock {
    width: 400px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-left: 35%;
    margin-top: 10%;
    border-radius: 50%;

}

.circle {
    width: 20px;
    height: 20px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
}

#hrs {
    width: 10px;
    height: 100px;
    background-color: rgb(255, 0, 0);
    position: absolute;
    top: 28%;
    left: 51%;
    border-radius: 50% 50% 0px 0px;
    transform-origin: bottom;
}

#min {
    width: 8px;
    height: 150px;
    background-color: rgb(0, 0, 255);
    position: absolute;
    top: 15%;
    left: 52%;
    border-radius: 50% 50% 0px 0px;
    transform-origin: bottom;
}

#sec {
    width: 6px;
    height: 180px;
    background-color: rgb(238, 255, 0);
    position: absolute;
    top: 8%;
    left: 52%;
    border-radius: 50% 50% 0px 0px;
    transform-origin: bottom;
}

.time p{
    font-size: 30px;
}

.tw {
    position: absolute;
    top: 28%;
    left: 48%;
}

.ni {
    position: absolute;
    top: 53%;
    left: 36%;
}

.si {
    position: absolute;
    top: 75%;
    left: 48%;
}

.th {
    position: absolute;
    top: 53%;
    left: 59%;
}

